@font-face 
{
    font-family: 'Factory';
    src: url('./CursedTimerUlil-Aznm.ttf') format('opentype')
}
@font-face 
{
    font-family: 'Factory';
    font-weight: bold;
    src: url('./CursedTimerUlil-Aznm.ttf') format('opentype')
}
*{
    color : white; 
}

html, body {margin: 0; height: 100%; /*overflow: hidden ;*/  background-color: #193961;}

.presentation{
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height : 100vh;
}

.title{
    margin-top: 40px;
    justify-content: center;
    color : white;
    display: flex;
}

.mission{
    justify-content: center;
    padding : 10px;
    margin-left : 20px;
    text-align: center;
}
.red{
    color : #FF0000;
}
.blue{
    color : #0000FF;
}
.green{
    color : green;
}
.purple{
    color : #950DEC;
}
.darkRed{
    color: #BB3030;
}
.cobalt{
    color: #295C9E;
}


.factoryStyle{
    font-family : "Factory";
    font-size : 40px;
    color : "black"
}

.factoryStyle-table{
    font-family : "Factory";
    font-size : 20px;
    color : "black"
}

.gameContainer{
    display: flex;  
    flex-direction: column;  
    align-items: center;
}

.scoreContainer{
    display : flex;
    flex-direction: column;
    color : "#FFFF00";
    margin: 20px;
    padding-top: 20px; 
    font-size : 80px;

}
.scoreText{
    text-align: center;
}

.scorePoints{
    margin-top: 5px;
    text-align: center;
}

.registrationContainer{
    font-size: 1em;
    margin-top: 30px;
    justify-content: center;
    display: flex
}

.rankingContainer{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom : 10px;
}

.button{
    font-size: 1em
}
.playerName{
    color: #FFFFFF;
    background-color: #2F4C70;
    border: 1px solid #2F4C70;
}

.playerName:focus {
    outline-width: 0;
}

input[type=text], select, textarea {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

    border: 1px solid #2F4C70;
    border-radius: 4px;
  }

table{
    width: 75%;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #2F4C70;
    color: white;
}

.rankingContainer{
    margin-top : 10px;
}

.rankings tr:nth-child(even){background-color:#293749;}
.rankings tr:nth-child(odd){background-color:#21262B;}
.rankings td, .rankings th {
    padding: 4px 4px 4px 60px;
}




@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;}
    100% { opacity: 0;display: none}
}  
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01; transform: translate(0px, 1000px);}
    100% { opacity: 0;transform: translate(0px, 1000px);display: none;}
}
.fadeOut{
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    transform: translateY(1);
    transition: transform 2s ease;
    animation-fill-mode: forwards;
}


@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    99% { opacity: 0.99;transform: translate(0px, -1000px)}
    100% { opacity: 1;transform: translate(0px, -1000px)}
}  
@keyframes fadeIn {
    0% { opacity: 0; }
    99% { opacity: 0.99;}
    100% { opacity: 1;}
}
.fadeIn{
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
    transform: translateY(-1);
    transition: transform 2s ease;
    animation-fill-mode: forwards;
     
}