@font-face 
{
    font-family: 'Factory';
    src: url('./CursedTimerUlil-Aznm.ttf') format('opentype')
}
@font-face 
{
    font-family: 'Factory';
    font-weight: bold;
    src: url('./CursedTimerUlil-Aznm.ttf') format('opentype')
}

.factoryStyle{
    font-family : "Factory";
    font-size : 3em;
    color : "black"
}
